* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #1d1d1d;
}

a,
button,
h1,
h2,
h3,
h4 {
  color: #ffffff;
}
nav {
  position: fixed;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0% 20%;
  min-height: 8vh;
  background: #1d1d1d;
  backdrop-filter: blur(10px);
  z-index: 10;
}
nav,
a {
  text-decoration: none;
  color: #ffffff;
  font-size: 0.9rem;
}
.nav-links a,
.nav-links button {
  margin-left: 2rem;
}
.logo {
  max-height: 40px;
  width: auto;
}
.cta-button {
  padding: 0.2rem 2rem;
  font-size: 0.6rem;
  color: #ffffff;
  background: #ff7900;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

/*First Page*/
.first-page {
  min-height: 100vh;
  padding: 0 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}
.first-page-text {
  z-index: 2;
  text-align: center;
  padding-bottom: 10rem;
}
.first-page-title {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.7rem;
}
.first-page-subtitle {
  font-size: 3rem;
  color: #ff7900;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.9rem;
}

.intro-video {
  position: absolute;
  width: 100vw;
}

/* Second Page */
.second-page {
  min-height: 125vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.water-video {
  position: absolute;
  height: 100%;
  width: 100vw;
  object-fit: cover;
  z-index: 1;
}
.second-text {
  padding: 5% 30%;
  position: relative;
  font-size: 3rem;
  font-weight: bold;
  z-index: 2;
}

/* Third Page Phone Split*/
.third-page {
  position: relative;
  padding: 0% 20%;
}

.info-text-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
}
.info-number {
  font-size: 2rem;
  font-weight: bold;
}
.wreck-number {
  text-align: right;
  color: #ff7900;
}
.oil-number {
  text-align: left;
  color: #ff7900;
}
.info-title{
  color: #ffffff;
}
.info-images {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wreck-pic {
  position: relative;
  transform: translateX(40%) scale(0.8);
  z-index: 1;
  width: auto;
  height: 600px;
}
.oil-pic {
  position: relative;
  z-index: 2;
  transform: translateX(40%) scale(0.8);
  width: auto;
  height: 500px;
}

/* 4th Page Video to be added */
.fourth-page {
  min-height: 100vh;
  background: #1d1d1d;
  padding: 5% 20%;
}

.movie-embed {
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* 5th Page */
.fifth-page {
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  background: #1d1d1d;
  padding: 5% 20%;
}

.missiontitle {
  color: #ff7900;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  text-align: center;
}

.missiontext {
  color: #ffffff;
  text-align: center;
}

.card-container1 {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #1d1d1d;
}
.card-container2 {
  height: auto;
  width: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  background: #1d1d1d;
}
.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #ffffff;
}
.card {
  height: auto;
  width: 300px;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 60px;
}
.card0 {
  background: url("./images/bendi.png") center center no-repeat;
  background-size: 400px;
}
.card0:hover {
  background: url("./images/bendi.png") left center no-repeat;
  background-size: 500px;
}
.card0:hover h2 {
  opacity: 1;
}
.card1 {
  background: url("./images/ines.png") center center no-repeat;
  background-size: 400px;
}
.card1:hover {
  background: url("./images/ines.png") left center no-repeat;
  background-size: 500px;
}
.card1:hover h2 {
  opacity: 1;
}
.card2 {
  background: url("./images/oli.png") center center no-repeat;
  background-size: 400px;
}
.card2:hover {
  background: url("./images/oli.png") left center no-repeat;
  background-size: 500px;
}
.card2:hover h2 {
  opacity: 1;
}
.card3 {
  background: url("./images/tamas.png") center center no-repeat;
  background-size: 400px;
}
.card3:hover {
  background: url("./images/tamas.png") left center no-repeat;
  background-size: 500px;
}
.card3:hover h2 {
  opacity: 1;
}
.cardname {
  color: #1d1d1d;
  margin: 20px;
  opacity: 0;
  transition: opacity 1s;
}

/*  Sixth page */
.sixth-page {
  min-height: 100vh;
  padding: 10% 20%;
  justify-content: space-between;
  position: relative;
  display: flex;
}
.parallaxpic {
  height: 70vh;
}
.article-title {
  font-size: 2rem;
}
.article-subtitle {
  font-size: 4rem;
  color: #ff7900;
  font-weight: 800;
}
.phone-video {
  position: absolute;
  bottom: 0;
  left: 40%;
  z-index: 2;
  transform: translate(-40%, 0%);
}
.phone-video img,
.phone-video video {
  position: absolute;
}
.phone-video img {
  z-index: 2;
  bottom: 0;
  left: 0;
  transform: scale(0.8);
}
.phone-video video {
  left: -14.89rem;
  bottom: -28.5rem;
  transform: scale(0.326);
  border-radius: 5rem;
}

.logoarticle {
  max-height: 90px;
  width: auto;
  padding-top: 20px;
  cursor: pointer;
}

/* Footer */
footer{
  bottom: 0;
  left: 0;
  right: 0;
  background: #1d1d1d;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #ffffff;
  border-top: 1px solid #ffffff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #ffffff;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #ffffff;
  padding: 5px;
}
.socials a i{
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i{
  color: #ff7900
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#ff7900;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
